.active {
    color: #D6E664 !important;
}

.modal-backdrop {
    display: none;
}

header {
    width: 100%;
    background-color: #C6202E;
    color: white;
    position: sticky;
    z-index: 2;
    top: 0;


    .header-head {
        width: 100%;
        padding: 15px 0;

        .container {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255, 255, 255, 0.373);
            padding-bottom: 15px;

            .header-head-right {
                display: flex;
                align-items: center;
                gap: 10px;

                .language,
                .theme {

                    .lang-btn,
                    .theme-btn {
                        border: none;
                        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.41);
                        background-color: transparent;
                        color: white;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    nav {
        background-color: #C6202E;
        color: white;


        .collapse {
            justify-content: space-around;

            ul {
                li {
                    padding: 10px;

                    a {
                        color: white;
                        font-weight: 700;

                        &:hover {
                            color: #D6E664;
                        }
                    }
                }
            }

            .collapse-right-side {
                display: flex;
                align-items: center;

                .modal-dialog {
                    z-index: 15000 !important;
                }

                .modal-title {
                    color: #C6202E;
                }

                .search-btn {
                    background-color: #C6202E;
                    color: white;
                }

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 25px;
                    padding: 7px;
                }

                .items-btn {
                    border: none;
                    font-size: 1.1em;
                    background-color: #D6E664;
                    padding: 13px 20px;
                    border-radius: 50px;
                    font-weight: 500;
                    color: black;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }
    }


}